* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Helpers Start */

a {
  text-decoration: none !important;
}

/* Helpers End */

#searchSection {
  left: 0;
  right: 0;
  z-index: 1000 !important;
}

